name: Run Robot Framework Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10" # Change if needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install robotframework
          pip install robotframework-seleniumlibrary
          pip install selenium
          pip install webdriver-manager
          pip install Selenium2Library

      - name: Run Robot Framework Tests
        run: |
          robot -d results test_cases/test_case_1/test_case1.robot  # adjust folder name if your tests are elsewhere
